.selection {
    width: 30%;
    height: 10%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.head {
    font-weight: bold;
    font-size: 30px;
}

.EnterField{

    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 10%;
}

.btnResult{

    margin-left: auto;
    margin-right: auto;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.maindiv {
width: 100%;
max-width: 100%;
height:2000px;
background: linear-gradient( #22e6b9, #7525b9);

}
  

BODY {
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
background: #EEE;
}

